<!-- {% extends 'project_2/base.html' %} -->
<!-- {% block content %} -->
<head>
    <link rel="stylesheet" type="text/css" href="static/css/about.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<h2>About Project 2</h2>
<p>Sign in or Sign up. View the most popular trending YouTube videos. See a visualization of the content you like.</p>
<h4>About the Contributors</h4>
<div> 
    <a href=https://github.com/dogtownoak>Brandon Ford</a>
</div>
<div>
    <a href=https://github.com/kleranscoding>Clarence Cheung</a>
</div>
<div>
    <a href=https://github.com/ChristinaGASF>Christina Hughes</a>
</div>

<!-- {% endblock %} -->