{% extends 'project_2/base.html' %}
{% block content %}

<h4>About the Contributors</h4>

     <div class="row">
       <div class="col s4"><div class="card-panel yellow accent-4 hoverable"><a href="https://github.com/dogtownoak" target="_blank">Brandon Ford</a><img src="https://media.licdn.com/dms/image/C4E03AQGpY6_vBO2CCg/profile-displayphoto-shrink_800_800/0?e=1550707200&v=beta&t=JSOhaWVG-LUZ9ejW-6DMQE0tpx4-7LH12Q1nbvLejUM"></div></div>
       <div class="col s4"><div class="card-panel yellow accent-4 z-depth-3 hoverable"><a href="https://github.com/kleranscoding" target="_blank">Clarence Cheung</a></div></div>
       <div class="col s4"><div class="card-panel yellow accent-4 z-depth-3 hoverable"><a href="https://github.com/ChristinaGASF" target="_blank">Christina Hughes</a></div></div>
     </div>


{% endblock %}
