{% extends 'project_2/base.html' %}
{% block content %}
<script>$( document ).ready(function(){$(".button-collapse").sideNav();});</script>
<h5 class="center-align">About the Contributors</h5>

<div class="row">
  
  <div class="card col s4">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator circle responsive-img" src="https://cdn.onlinewebfonts.com/svg/img_177992.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Brandon Ford<i class="material-icons right">more_vert</i></span>
      <p class="center-align"><a href="https://github.com/dogtownoak" target="_blank">GitHub</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title light-blue darken-1">Brandon Ford<i class="material-icons right">close</i></span>
      <p>Here is some more information about me that is only revealed once clicked on. This is supposed to be a brief bio. It will have 2-3 lines about me.</p>
    </div>
  </div>

  <div class="card col s4">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator circle responsive-img" src="https://cdn.onlinewebfonts.com/svg/img_177992.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Clarence Cheung<i class="material-icons right">more_vert</i></span>
      <p class="center-align"><a href="https://github.com/kleranscoding" target="_blank">GitHub</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title light-blue darken-1">Clarence Cheung<i class="material-icons right">close</i></span>
      <p>Here is some more information about me that is only revealed once clicked on. This is supposed to be a brief bio. It will have 2-3 lines about me.</p>
    </div>
  </div>

  <div class="card col s4">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator circle responsive-img" src="https://cdn.onlinewebfonts.com/svg/img_177992.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Christina Hughes<i class="material-icons right">more_vert</i></span>
      <p class="center-align"><a href="https://github.com/ChristinaGASF" target="_blank">GitHub</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title light-blue darken-1">Christina Hughes<i class="material-icons right">close</i></span>
      <p>Here is some more information about me that is only revealed once clicked on. This is supposed to be a brief bio. It will have 2-3 lines about me.</p>
    </div>
  </div>

</div>


{% endblock %}
