{% extends 'project_2/base.html' %}

{% block content %}
<h2>ANALYSIS</h2>
{% endblock %}

var data = google.visualization.arrayToDataTable([
['ID', 'Relevance', 'SentimentScore', 'Sentiment',     'SentimentScore'],
['Sous Vide Cooking',     .56122,       .327025,      'Negative',  .327025],
['San Francisco 49ersKyle Shanahan Yesterday', .528599,  -0.959452,  'Negative',  -0.959452],
['Denver Broncos',  .515413,     0,      'Neutral',      0],
['John Oliver',     .44444,        .55555,      'Positive',    .44444],
['Math',       .55555,         -0.259452,       'Negative',      -0.259452]

]);