
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Project 2</title>
        <script src="https://code.jquery.com/jquery-3.3.1.js"integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     </head>
     <body>
    <div class="red accent-4 grey-text text-lighten-4"><h3> YourTube. Analyzed.</h3></div>
    <nav class= "cyan lighten-2">
      <div class="nav-wrapper cyan lighten-2">
        <a href="#!" class="brand-logo grey-text text-lighten-4"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        
        {% if user.is_authenticated %}
        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'content' %}">Content</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'content' %}">Content</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
        {% else %}
        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'user_login' %}">Sign In</a> </li>
          <li><a href="{% url 'register' %}">Sign Up</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'user_login' %}">Sign In</a> </li> 
          <li><a href="{% url 'register' %}">Sign Up</a></li>
        </ul>
        {% endif %}
      </div>
    </nav>
<main>

        {% block landing %}
        {% endblock %}

        {% block login %}
        {% endblock %}
        
        {% block register %}
        {% endblock %}

        {% block content %}
        {% endblock %}
        <!-----------------------THIS NEEDS TO BE THE LANDING/INDEX PAGE BLOCK ONCE PATH IS FIXED--------------------------------->
<div class="card-panel black center-align">
<img class="center" width="656" src="https://lh3.googleusercontent.com/j2SJC1grxLdL94kX7uB9WclD_nqX49oJs3K82Tok1MaPcx4TvB2m7xmw-Ub4dvFORwPSzruQBWePxtizfuY1r3j4GQvi1G9z=s688">
</div>
<div class="card-panel black center-align">
<img class="center" width="480"  src="https://media.giphy.com/media/l3vR16pONsV8cKkWk/giphy.gif">
</div>

<!-----------------------THIS NEEDS TO BE THE LANDING/INDEX PAGE BLOCK ONCE PATH IS FIXED--------------------------------->
</main>
        <footer class="page-footer cyan lighten-2">
          <div class="container">
            <div class="row">
                <div class="col l4 offset-l2 s12">
                <p class="grey-text text-lighten-2">Web application made in conjunction with
                    <a class="grey-text text-lighten-2" href="https://developers.google.com/youtube/" target="_blank">YouTube Api</a>,
                    <a class="grey-text text-lighten-2" href="https://www.ibm.com/watson/developer/" target="_blank">IBM Watson Api</a>,
                    <a class="grey-text text-lighten-2" href="#!" target="_blank">Charting Api</a>.
                </p>
                
              </div>
            </div>
          </div>
          <div class="footer-copyright red accent-4">
            <div class="container">
            © 2018 Brandon Ford, Kai Wing Clarence Cheung, and Christina Hughes
            <a class="grey-text text-lighten-4 right" href="https://generalassemb.ly/" target="_blank">General Assembly</a>
            </div>
          </div>
        </footer>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    </body>
</html>
