{% load staticfiles %}
<html>
    <head>
        <title>Working Title</title>
        <link rel="stylesheet" href="{% static 'css/tunr.css' %}">
    </head>
    <body>
        <h1>Working Title Base HTML/h1>
            <nav>
                <a href="/about">About</a>
                <a href="/analysis">Analysis</a>
                <a href="/content">YouTube Content</a>
                <a href="/landing">Sign In | Sign Up</a>
                <a href="/profile">Profile</a>
            </nav>
{% block content %}
{% endblock %}

    </body>
</html>