
!-- {% load staticfiles %} -->
<html>
    <head>
        <title>Project 2</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Project 2 Base</h1>
            <nav>
                <a href="/about.html">About</a>
                <a href="/analysis.html">Analysis</a>
                <a href="/content.html">YouTube Content</a>
                <a href="/landing.html">Sign In | Sign Up</a>
                <a href="/profile.html">Profile</a>
            </nav>
      <script src="/../../static/scripts/app.js"></script>
    </body>
<!-- {% block content %} -->
<!-- {% endblock %} -->
<footer>
</footer>
</html>