{% extends 'project_2/base.html' %}

{% load staticfiles %}

{% block chart %}

  <div id="chart_div" style="width: 900px; height: 120px;"></div>
  <div id="chart_div_emotion" style="width: 900px; height: 500px;"></div>
  <div id="series_chart_div_key" style="width: 900px; height: 500px;"></div>
  <div id="series_chart_div_entities" style="width: 900px; height: 500px;"></div>
  <div id="chart_div_entities" style="width: 900px; height: 500px;"></div>
  <div id="chart_div_key" style="width: 900px; height: 500px;"></div>
  <script src="{% static 'scripts/chart.js' %}"></script>

{% endblock %}
