{% extends 'project_2/base.html' %}
{% load staticfiles %}


{% block chart %}


<div class="append" url-endpoint='{% url "api-data" %}'>
    <h1>Hello World </h1>
</div>
<div id="series_chart_div" style="width: 900px; height: 500px;"></div>
<div id="series_chart_div_key" style="width: 900px; height: 500px;"></div>
<div id="series_chart_div_entities" style="width: 900px; height: 500px;"></div>
<div id="chart_div" style="width: 900px; height: 500px;"></div>


{% block jquery %}
<script>
var endpoint = '/api/data/'
var rows = [['ID', 'Joy', 'Sadness', 'Fear', 'Anger', 'Disgust']]

$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        console.log(data)
        console.log(data.customers)
        $('.append').append(data.customers)
        


    //       var data = google.visualization.arrayToDataTable([
    // ['ID', 'Joy', 'Sadness', 'Fear', 'Anger', 'Disgust'],
    // ['NFL',  .031864, .031864, .019052, .0979, .064185 ],
    // ['HBO', .158492, .165361, .102052, .100122, .076227],
    // ['Joe Rogan',  .52387, .468725,  .053806, .135095, .478602],
    // ['Sous Vide Cooking', .810493, .024876, .066353, .047234, .009014],
    // ['Sara Silverman', .553425, .077662, .011971, .129018, .223744]
    // var rows = [['ID', 'Joy', 'Sadness', 'Fear', 'Anger', 'Disgust']]
    
    for (let i=1; i<data.entities.length; i++){
    var row = []
    
    row.push(data.entities[i].text)
    row.push(data.entities[i].emotion.joy)
    row.push(data.entities[i].emotion.sadness)
    row.push(data.entities[i].emotion.fear)
    row.push(data.entities[i].emotion.anger)
    row.push(data.entities[i].emotion.disgust)

    rows.push(row)
    }
    console.log(row)
    console.log(rows)
    





    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
</script>
{% endblock jquery %}

{% block headSentimentEmotion %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawSeriesChart);

function drawSeriesChart() {

  var data = google.visualization.arrayToDataTable([
    ['ID', 'Emotion', 'Sentiment', 'Emotion',     'EmotionScore'],
    ['Sadness',     .21111,       .55555,      'Sadness',  .31111],
    ['Joy',          .89999,      .55555,      'Joy',      .99999],
    ['Fear',         .33333,       .55555,      'Fear',      .33333],
    ['Disgust',     .44444,        .55555,      'Disgust',    .44444],
    ['Anger',       .55555,         .55555,       'Anger',      .55555]

  ]);

  var options = {
    title: 'Correlation sentiment and emotions',
    hAxis: {title: 'Emotion'},
    vAxis: {title: 'Sentiment'},
    bubble: {textStyle: {fontSize: 11}},
    animation:{
        "startup": true,
        duration: 6000,
        easing: 'out',
      },
  };

  var chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div'));
  chart.draw(data, options);
}
</script>
{% endblock headSentimentEmotion %}

{% block headKeywords %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawSeriesChart);

function drawSeriesChart() {

  var data = google.visualization.arrayToDataTable([
    ['ID', 'Relevance', 'SentimentScore', 'Sentiment',     'SentimentScore'],
    ['Sous Vide Cooking',     .56122,       .327025,      'Negative',  .327025],
    ['San Francisco 49ersKyle Shanahan Yesterday', .528599,  -0.959452,  'Negative',  -0.959452],
    ['Denver Broncos',  .515413,     0,      'Neutral',      0],
    ['John Oliver',     .44444,        .55555,      'Positive',    .44444],
    ['Math',       .55555,         -0.259452,       'Negative',      -0.259452]

  ]);

  var options = {
    title: 'Correlation Between Keyword Sentiment and Relevance',
    hAxis: {title: 'Relevance'},
    vAxis: {title: 'Sentiment'},
    bubble: {textStyle: {fontSize: 11}},
    animation:{
        "startup": true,
        duration: 6000,
        easing: 'out',
      },
  };

  var chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div_key'));
  chart.draw(data, options);
}
</script>
{% endblock headKeywords %}

{% block headEntities %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawSeriesChart);

function drawSeriesChart() {

  var data = google.visualization.arrayToDataTable([
    ['ID', 'Joy', 'Sadness', 'Fear', 'Anger', 'Disgust'],
    ['NFL',  .031864, .031864, .019052, .0979, .064185 ],
    ['HBO', .158492, .165361, .102052, .100122, .076227],
    ['Joe Rogan',  .52387, .468725,  .053806, .135095, .478602],
    ['Sous Vide Cooking', .810493, .024876, .066353, .047234, .009014],
    ['Sara Silverman', .553425, .077662, .011971, .129018, .223744]

  ]);

  var options = {
    title: 'Entity correlation Between Joy & Sadness ',
    hAxis: {title: 'Joy'},
    vAxis: {title: 'Sadness'},
    vAxis: {direction: -1},
    bubble: {textStyle: {fontSize: 11}},
    animation:{
        "startup": true,
        duration: 6000,
        easing: 'out',
      },
  };

  var chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div_entities'));
  chart.draw(data, options);
}
</script>
{% endblock headEntities %}


{% block headEntitiesBar %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawVisualization);

  function drawVisualization() {
    // Some raw data (not necessarily accurate)
    // var data = google.visualization.arrayToDataTable([
    // // ['ID', 'Joy', 'Sadness', 'Fear', 'Anger', 'Disgust'],
    // // ['NFL',  .031864, .031864, .019052, .0979, .064185 ],
    // // ['HBO', .158492, .165361, .102052, .100122, .076227],
    // // ['Joe Rogan',  .52387, .468725,  .053806, .135095, .478602],
    // // ['Sous Vide Cooking', .810493, .024876, .066353, .047234, .009014],
    // // ['Sara Silverman', .553425, .077662, .011971, .129018, .223744]
    // // ]);

    var data = google.visualization.arrayToDataTable(rows);

    var options = {
      title : 'Entities by Emotion and Score',
      vAxis: {title: 'Emotion Score'},
      hAxis: {title: 'Entity/Keyword'},
      seriesType: 'bars',
      series: {5: {type: 'line'}}
    };

    var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>
{% endblock headEntitiesBar %}



{% endblock chart %}