{% extends 'project_2/base.html' %}



{% block content %}

{% if user.is_authenticated %}

  {% load staticfiles %}

  <h1>Hi, {{ user.userprofileinfo }}</h1>
  <h2>Trending YouTube Videos</h2>
  
  <button class='show-search'>Search Option</button>
  <div class='search_videos'>
    <button type='button' class='btn-get-all'>
      Get Trending Videos from all categories
    </button>
    Or
    <select class="category">
      {% for cat in categories %}
        <option value='{{ cat.category_id }}'>{{ cat.title }}</option>
      {% endfor %}
    </select>
    <button type='button' class='btn-get-selected'>
      Get from this Category
    </button>
  </div>
  
  
  <div id='video_list'>
  {% for video in video_results %}
    <article data-id="{{video.youtube_id}}">
      <h3>{{ video.title }}</h3>
      <a href='https://www.youtube.com/watch?v={{video.youtube_id}}'>
        <img src='{{ video.thumbnail.url }}' alt=''>
      </a>
      <p class='p-description'>{{ video.description }}</p>
      <p class='p-tags'>{{ video.tags }}</p>
      <p class='p-channel-title'>{{ video.channel_title }}</p>
      <p class='p-cat-id' style='display:none;'>{{ video.category_id }}</p>
      <button class="btn-like">Like!</button>
      <button class="btn-dislike">DisLike :( </button>
    </article>
  {% endfor %}
  </div>

  <script src="{% static 'scripts/csrf_helper.js' %}"></script>
  <script src="{% static 'scripts/content.js' %}" defer></script>

{% else %}
  <h1> 403 Forbidden </h1>
  <h2> You need to Sign In </h2>
{% endif %}

{% endblock %}
