{% extends 'project_2/base.html' %}
<script>$( document ).ready(function(){$(".button-collapse").sideNav();});</script>
{% block landing %}
<div class="card-panel black center-align">
<img class="center" width="656" src="https://lh3.googleusercontent.com/j2SJC1grxLdL94kX7uB9WclD_nqX49oJs3K82Tok1MaPcx4TvB2m7xmw-Ub4dvFORwPSzruQBWePxtizfuY1r3j4GQvi1G9z=s688">
</div>
<div class="card-panel black center-align">
<img class="center" width="480"  src="https://media.giphy.com/media/l3vR16pONsV8cKkWk/giphy.gif">
</div>
{% endblock %}