{% extends 'project_2/base.html' %}
<script>$( document ).ready(function(){$(".button-collapse").sideNav();});</script>
{% block landing %}
<div class="card-panel black center-align">
    <img class="center responsive-img" width="480"  src="https://media.giphy.com/media/l3vR16pONsV8cKkWk/giphy.gif"
    alt="Black and White animated Gif of IBM Watson Logo by Sylvia Boomer Yang.">
</div>
<div class="card-panel center-align">
    <h5>Create a profile on our Web Application. <br> Like and dislike trending YouTube content. <br> Have your profile analyzed by IBM supercomputer, Watson. 
    <br>See that data graphically displayed in Google Charts.</h5>
</div>
<div class="card-panel black center-align">
    <img class="center responsive-img" width="656" src="https://lh3.googleusercontent.com/j2SJC1grxLdL94kX7uB9WclD_nqX49oJs3K82Tok1MaPcx4TvB2m7xmw-Ub4dvFORwPSzruQBWePxtizfuY1r3j4GQvi1G9z=s688"
    alt="Graphic of web browser search bar, YouTube data API for developers, user profile and Google chart linked together.">
</div>

<script>$( document ).ready(function(){ $(".button-collapse").sideNav(); }); </script>

{% endblock %}