* {
}
links {
    color:#039be5;
}
.card:hover{

}
select{
    display: initial !important;
 }
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    padding: 2%;
    flex: 1 0 auto;
  }
      
div{
    padding: 1%;
}

.card {
    border-radius: 5px;
}

.card:hover{

}


nav {
    height: 30px;
    line-height: 30px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 30px;
    line-height: 30px;
}

nav .button-collapse i {
    height: 30px;
    line-height: 30px;
}

nav .brand-logo { 
    font-size: 1.6rem; 
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 30px;
        line-height: 30px;
    }
}

